<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
        <listener class-name="com.shop.ScreenshotListener" />
    </listeners>
    <test name="SmokeTests">
        <groups>
            <run>
                <include name="Smoke" />
            </run>
        </groups>
    </test>
    <test name="RegressionTests">
        <groups>
            <run>
                <include name="Regression" />
            </run>
        </groups>
    </test>
</suite>